.modal-container {
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 25%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.775);
    padding: 100px;
    border-radius: 16px;
}